{% extends 'base.html' %}

{% block title %}Calendario de Citas{% endblock %}

{% block styles %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        vertical-align: top;
    }
    th {
        background-color: #f2f2f2;
    }
    .hour-cell {
        height: 50px;
    }
    ul {
        list-style-type: none; /* Eliminar los puntos de la lista */
        padding: 0; /* Eliminar el padding de la lista */
        margin: 0; /* Eliminar el margen de la lista */
    }
</style>
{% endblock %}

{% block content %}
<h1>Calendario de Citas</h1>

<form method="GET" action="{{ url_for('main.calendario') }}">
    <input type="hidden" name="medico" value="{{ request.args.get('medico') }}">
    <label for="month">Mes:</label>
    <select name="month" id="month">
        {% for m in range(1, 13) %}
            <option value="{{ m }}" {% if m == month %}selected{% endif %}>{{ m }}</option>
        {% endfor %}
    </select>
    <label for="year">Año:</label>
    <select name="year" id="year">
        {% for y in range(2020, 2030) %}
            <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
        {% endfor %}
    </select>
    <button type="submit">Ver</button>
</form>

<table>
    <thead>
        <tr>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
        </tr>
    </thead>
    <tbody>
        {% for week in calendar.monthcalendar(year, month) %}
            <tr>
                {% for day in week %}
                    <td>
                        {% if day != 0 %}
                            <a href="{{ url_for('main.semana', year=year, month=month, day=day, medico=request.args.get('medico')) }}">{{ day }}</a>
                            <ul>
                                {% for cita in citas %}
                                    {% if cita[0].split('-')[2]|int == day %}
                                        <li>{{ cita[1] }} - {{ cita[2] }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('main.index') }}">Volver</a>
{% endblock %}