{% extends 'layout.html' %}

{% block title %}Citas de {{ paciente_nombre }}{% endblock %}

{% block content %}
<h1>Citas de {{ paciente_nombre }}</h1>
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Especialista</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cita in citas %}
        <tr>
            <td>{{ cita[1] }}</td>
            <td>{{ cita[2] }}</td>
            <td>{{ cita[3] }}</td>
            <td>
                <form method="POST" action="{{ url_for('main.cancelar_cita', cita_id=cita[0]) }}">
                    <input type="hidden" name="paciente_id" value="{{ paciente_id }}">
                    <button type="submit">Eliminar</button>
                </form>
                <a href="{{ url_for('main.modificar_cita', cita_id=cita[0]) }}">Modificar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('main.index') }}">Volver</a>
{% endblock %}