<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Reservar Cita - Centro Médico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <header>
        <h1>Reservar Cita</h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Inicio</a>
            <a href="{{ url_for('main.servicios') }}">Servicios</a>
        </nav>
    </header>
    <section>
        <h2>Elige una Fecha y Hora</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('main.reservar') }}">
            {{ form.hidden_tag() }}
            <label for="fecha">Fecha:</label>
            {{ form.fecha }}
            <label for="hora">Hora:</label>
            {{ form.hora }}
            <label for="especialista">Especialista:</label>
            {{ form.especialista }}
            <label for="paciente">Paciente:</label>
            {{ form.paciente }}
            {{ form.submit }}
        </form>
    </section>
    <section>
        <h2>Mis citas agendadas</h2>
        <form id="ver-citas-form">
            <label for="paciente">Selecciona una cita:</label>
            <button type="button" id="ver-citas-btn">Ver Citas</button>
        </form>
    </section>
    <section id="citas-asociadas" style="display: none;">
        <h3>Citas asociadas</h3>
        <table id="citas-tabla">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Especialista</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se mostrarán las citas -->
            </tbody>
        </table>
    </section>
    <script>
        $(function () {
            $("#fecha").datepicker({
                dateFormat: "yy-mm-dd",
                onSelect: function (dateText) {
                    $.ajax({
                        url: "{{ url_for('main.obtener_horas_disponibles') }}",
                        method: "GET",
                        data: { fecha: dateText, especialista_id: $("#especialista").val() },
                        success: function (data) {
                            var horaSelect = $("#hora");
                            horaSelect.empty();
                            $.each(data.horas, function (index, hora) {
                                horaSelect.append($("<option></option>").attr("value", hora).text(hora));
                            });
                        }
                    });
                }
            });

            // Manejar la solicitud para ver citas
            $("#ver-citas-btn").click(function () {
                var pacienteId = $("#paciente").val();
                var citasAsociadas = $("#citas-asociadas");
                if (citasAsociadas.is(":visible")){
                    citasAsociadas.hide();                       
                }else{
                $.ajax({
                    url: "{{ url_for('main.obtener_citas_paciente') }}",
                    method: "GET",
                    data: { paciente_id: pacienteId },
                    success: function (data) {
                        var citasTabla = $("#citas-tabla tbody");
                        citasTabla.empty();
                        $.each(data.citas, function (index, cita) {
                            citasTabla.append(
                                "<tr><td>" + cita[1] + "</td><td>" + cita[2] + "</td><td>" + cita[3] + "</td></tr>"
                            );
                        });
                        $("#citas-asociadas").show();
                     }
                 });
             }
        });
    });
    </script>
</body>

</html>